<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Gather in Front of God's Holy Word!</h2>
                <hr class="light">
                <p class="text-faded">Do you look for more answers from God to guide your life? Do you have a lot of questions when you read Bible? Have you think of something, like why bad thing happened to good people? You will get all answers through our online Bible seminar.</p>
                <a href="#seminars" class="btn btn-default btn-xl">To Know Seminar Format</a>
            </div>
        </div>
    </div>
</section>
