<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>New York Online Bible Seminar Series</h1>
            <hr>
            <p>[Revelation 22:17] The Spirit and the bride say, “Come!” And let the one who hears say, “Come!” Let the one who is thirsty come; and let the one who wishes take the free gift of the water of life.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
